html, body{
  overflow-x: hidden;
  height:100%;
}
body{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color:#282828;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
h1{
  font-size:72px;
  color:#F2F8FA;
  line-height:80px;
}
h1 span{
  color:#A8EDD1;
}
h2{
  font-size:140px;
  color:#F2F8FA;
}
h3{
  font-size:36px;
  color:#282828;
}
h4{
  font-size:36px;
  color:#F2F8FA;
}
h5{
  font-size:24px;
  color:#282828;
}
h6{
  font-size:48px;
  color:#282828;
}
p{
  font-size:20px;
  color:#282828;
  font-weight:100;
}
/* GRID */
.container{
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px;
  position: relative;
}
.container:before,
.container:after{
  content: " ";
  display:table;
}
.container:after{
  clear:both;
}
.one-half{
  width:96%;
  float:left;
  position:relative;
  min-height:1px;
  margin:0 2% 20px;
}
.one-third{
  width:96%;
  float:left;
  position:relative;
  min-height:1px;
  margin:0 2% 20px;
}
.features{
  width:96%;
  float:left;
  position:relative;
  margin:120px 2% 120px;
}
.feature-1 section{
  display:block;
}
.feature-2 section{
  display:block;
}
.feature-3 section{
  display:block;
}
.feature-4 section{
  display:block;
}

/* Animation */
.rw-wrapper{
  width: 60%;
  position: relative;
  margin-top: 190px;
}
.rw-words{
	display: inline;
	text-indent: 0px;
}
.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
}
.rw-words span{
	animation: rotateWordsFirst 16s linear infinite 0s;
}
.rw-words span:nth-child(2) {
	animation-delay: 2s;
}
.rw-words span:nth-child(3) {
	animation-delay: 4s;
}
.rw-words span:nth-child(4) {
	animation-delay: 6s;
}
.rw-words span:nth-child(5) {
	animation-delay: 8s;
}
.rw-words span:nth-child(6) {
	animation-delay: 10s;
}
.rw-words span:nth-child(7) {
	animation-delay: 12s;
}
.rw-words span:nth-child(8) {
	animation-delay: 14s;
}
@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}

/* Media Queries */
@media (min-width: 768px){
  .container{
    width: 750px;
  }
}
@media (min-width: 992px){
  .container{
    width: 970px;
  }
  .one-half{
    width:46%;
  }
  .one-third{
    width:29.33333%;
  }
}
@media (min-width: 1200px){
  .container{
    width: 1170px;
  }
}

/*  HEADER  */
header {
  background: #FFF url('../images/background-hero.png') top left no-repeat;
  min-height: 700px;
}
header nav{
  padding:1em 0;
}
header nav ul{
  display: inline;
  text-align: right;
  float: right;
  margin:0;
}
header nav ul > li{
  list-style-type: none;
  display: inline-block;
  margin:0 15px;
}
header nav ul > li.btn{
  padding:10px 15px;
  background:#ED715E;
}
header nav ul > li.btn:hover{
  background:#A8EDD1;
}
header nav ul > li > a {
  color:#F2F8FA;
  text-decoration: none;
}
header nav ul > li.btn:hover{
  color:#F2F8FA;
}

/* BUTTONS */
 .btn {
   color:#F2F8FA;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #ED715E;
 }


/* Features */
.feature-1, .feature-3 {
  position: relative;
  display: block;
  padding: 0 0 5em;
}
.feature-2, .feature-4 {
  position: relative;
  display: block;
  padding: 0 0 5em;
}
.feature-1:after, .feature-2:after, .feature-3:after, .feature-4:after {
  content: "";
  display: table;
  clear:both;
}
.feature-1 .feature-image, .feature-3 .feature-image {
  float: left;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.feature-1 .feature-heading, .feature-3 .feature-heading {
  position: absolute;
  top: -70px;
  left: 35%;
  z-index: 0;
}
.feature-1 .feature-heading h2, .feature-3 .feature-heading h2 {
  margin: 0;
}
.feature-1 .feature-content, .feature-3 .feature-content {
  float: left;
  display: inline-block;
  width: 50%;
  margin-right: 50px;
  padding-top: 100px;
  padding-left:50px;
}
.feature-2 .feature-image, .feature-4 .feature-image {
  float: right;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.feature-2 .feature-heading, .feature-4 .feature-heading {
  position: absolute;
  top: -130px;
  left: 45%;
  z-index: 0;
}
.feature-2 .feature-heading h2, .feature-4 .feature-heading h2 {
  margin: 0;
}
.feature-2 .feature-content, .feature-4 .feature-content {
  float: left;
  display: inline-block;
  width: 40%;
  padding-top: 80px;
  padding-right:0px;
}
