html, body{
  overflow-x: hidden;
  height:100%;
}
body{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color:#444A52;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
h1{
  font-size:72px;
  color:#282828;
  line-height:80px;
  width:700px;
}
h1 span{
  color:#F2F8FA;
}
h2{
  font-size:140px;
}
.feature-heading{
  color: #F2F8FA;
}
h3{
  font-size:36px;
  color:#282828;
  text-align:center;
}
h4{
  font-size:36px;
  color:#282828;
}
h5{
  font-size:20px;
  color:#282828;
}
h6{
  font-size:30px;
  color:#282828;
}
p{
  font-weight:100;
}
.feature-content p{
    font-size:24px;
    color:#282828;
}
.feature-content .one{
    min-width: 550px;
   margin-top: -20px;
   margin-left: 50px;
   line-height: 37px;
}
.feature-content .two{
    min-width: 550px;
   margin-top: 30px;
   margin-left: 50px;
   line-height: 37px;
}
.feature-content .three{
    min-width: 450px;
   margin-top: 40px;
   margin-left: 60px;
   line-height: 37px;
}
.feature-content .four{
    min-width: 450px;
   margin-top: 30px;
   margin-left: 60px;
   line-height: 37px;
}
.feature-content .five{
    min-width: 550px;
   margin-top: 0px;
   margin-left: 60px;
   line-height: 37px;
}
.feature-content .six{
    min-width: 550px;
   margin-top: 30px;
   margin-left: 60px;
   line-height: 37px;
}
.feature-content .seven{
    min-width: 450px;
   margin-top: 30px;
   margin-left: 60px;
   line-height: 37px;
}
.feature-content .eight{
    min-width: 450px;
   margin-top: 30px;
   margin-left: 60px;
   line-height: 37px;
}

/* GRID */
.container{
  margin-right:auto;
  margin-left:auto;
  padding-left:0px;
  padding-right:0px;
  position: relative;
}
.container:before,
.container:after{
  content: " ";
  display:table;
}
.container:after{
  clear:both;
}
.one-half{
  width:96%;
  float:left;
  position:relative;
  min-height:1px;
  margin:0 2% 20px;
}
.one-third{
  width:96%;
  float:left;
  position:relative;
  min-height:1px;
  margin:0 2% 20px;
}
.features{
  width:96%;
  float:left;
  position:relative;
  margin:120px 2% 120px;
}
.feature-1 section{
  display:block;
}
.feature-2 section{
  display:block;
}
.feature-3 section{
  display:block;
}
.feature-4 section{
  display:block;
}

/* Animation */
.rw-wrapper .rw-sentence{
  width: 46%;
  position: relative;
  margin-top: 200px;
  margin-left:60px;
}
.rw-words{
	display: inline;
	text-indent: 0px;
}
.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
  height:100%;
  margin-top:5px;
}
.rw-words span{
	animation: rotateWordsFirst 16s linear infinite 0s;
}
.rw-words span:nth-child(2) {
	animation-delay: 2s;
}
.rw-words span:nth-child(3) {
	animation-delay: 4s;
}
.rw-words span:nth-child(4) {
	animation-delay: 6s;
}
.rw-words span:nth-child(5) {
	animation-delay: 8s;
}
.rw-words span:nth-child(6) {
	animation-delay: 10s;
}
.rw-words span:nth-child(7) {
	animation-delay: 12s;
}
.rw-words span:nth-child(8) {
	animation-delay: 14s;
}
@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}

/* Media Queries */
@media (min-width: 768px){
  .container{
    width: 750px;
  }
}
@media (min-width: 992px){
  .container{
    width: 970px;
  }
  .one-half{
    width:46%;
  }
  .one-third{
    width:29.33333%;
  }
}
@media (min-width: 1200px){
  .container{
    width: 1170px;
  }
}

/*  HEADER  */
header {
  background: url("../images/background-dockit.png") center no-repeat;
  min-height: 780px;
}
header nav{
  padding:1em 0;
}
header nav ul{
  display: inline;
  text-align: left;
  float: left;
  margin:0;
}
header nav ul > li{
  list-style-type: none;
  display: inline-block;
  margin:0 30px;
}
header nav ul > li:hover{
  color:#D96873;
}
header nav ul > li > a {
  color:#282828;
  text-decoration: none;
}
.site-logo img{
  height:60px;
}
h1 .rw-sentence{
  padding-bottom:80px;
  letter-spacing: 10px;
}
/* BUTTONS */
 .btn {
   color: #F2F8FA;
   font-weight: 700;
   text-decoration: none;
   padding: 20px 50px;
   background: #6BE0B1;
 }
.rw-wrapper .btn{
  position:absolute;
  display:block;
  margin-top:100px;
  margin-left:60px;
}

/* Features */

.feature-1, .feature-3 {
  position: relative;
  display: block;
  padding: 100px 80px 120px;
}
.feature-2, .feature-4 {
  position: relative;
  display: block;
  padding: 100px 80px 120px;
}
.feature-1:after, .feature-2:after, .feature-3:after, .feature-4:after {
  content: "";
  display: table;
  clear:both;
}
.feature-1 .feature-image{
  float: left;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-top:130px;
  margin-left:40px;
}
.feature-3 .feature-image {
  float: left;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-left:60px;
}
.feature-1 .feature-heading {
  position: absolute;
  top: 100px;
  left:36%;
  z-index: 0;
}
.feature-3 .feature-heading {
  position: absolute;
  top: -10px;
  left: 25%;
  z-index: 0;
}
.feature-1 .feature-heading h2{
  margin: 0;
}
.feature-3 .feature-heading h2 {
  margin: 0;
}
.feature-1 .feature-content{
  float: left;
  display: inline-block;
  width: 40%;
  margin-right: 50px;
  padding-top:220px;
  padding-left:50px;
}
.feature-3 .feature-content {
  float: left;
  display: inline-block;
  width: 50%;
  margin-right: 60px;
  padding-top:110px;
  padding-left:40px;
}
.feature-2 .feature-image {
  float: right;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-right:60px;
}
.feature-4 .feature-image {
  float: right;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-right:30px;
}
.feature-2 .feature-heading{
  position: absolute;
  top: -20px;
  left: 43%;
  z-index: 0;
}
.feature-4 .feature-heading {
  position: absolute;
  top: 20px;
  left: 34%;
  z-index: 0;
}
.feature-2 .feature-heading h2, .feature-4 .feature-heading h2 {
  margin: 0;
}
.feature-2 .feature-content{
  float: left;
  display: inline-block;
  width: 40%;
  padding-top: 40px;
  padding-left:0px;
}
.feature-4 .feature-content {
  float: left;
  display: inline-block;
  width: 40%;
  padding-top: 120px;
  padding-right:80px;
}

/* PRICING */

.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}
 .pricing ul li {
   list-style-type: none;
 }
 .box {
   padding:0 15px 15px;
   background: #EAEAEA;
   border-radius:1px;
   border-color:#EAEAEA;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 375px;
   position: relative;
   margin-top: 25px;
 }
 .box.middle {
   min-height: 400;
   margin-top:0px;
 }
 .box h5 {
   text-transform: uppercase;
   background: #ffffff;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left:0;
   right:0;
   top:-30px;
   text-align: center;
   margin:0 -15px 40px;
   padding:10px 0;}

.box h6 {
       text-align: center;
       margin-top: -5px;
     }
.box ul li {
  line-height:40px;
}
.box ul{
  margin-top:-80px;
}
.pricing p{
  text-align:center;
  color:#282828;
}
.pricing a{
  margin-top:40px;
}

/* FEATURE SUMMARY*/
.feature-summary .btn{
  padding-top:80px;
  padding-bottom:80px;
  padding-left:80px;
  padding-right:80px;
}
.feature-summary ul{
  list-style:none;
  float:right;
  position:relative;
  margin-right:100px;
  margin-top:30px;
}
.feature-summary a{
  position:relative;
  float:left;
  margin-top:130px;
  margin-left:307px;
  font-size:24px;
}
.feature-summary .container {
  width:100vw;
  height:500px;
  background-color:#FFFFFF;
  background: url("../images/feature-summary-bg.png") bottom no-repeat;
  overflow:hidden;
}

/* FOOTER */
footer{
  background-color:#ffffff;
  height:80px;
  position:relative;
  overflow:hidden;
  z-index:0;
}
.pricing .container-three{
  margin-top:100px;
}
.left-footer-block p{
  font-size:12px;
  color:#282828;
  margin-top:33px;
}
.middle-footer-block ul{
  list-style:none;
  margin-top:33px;
  color:#6BE0B1;
}
.middle-footer-block ul > li > a{
  text-decoration: none;
  font-size:12px;
  color:#6BE0B1;
 }
.middle-footer-block ul > li{
  display: inline;
}
.right-footer-block img{
  margin-left:200px;
  margin-top:0px;
}
footer .container{
  margin-top:0px;
}
.container.footer-nav-block{
  background: url("../images/footer-background.png") bottom no-repeat;
  width:100vw;
  overflow:hidden;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
}
/* DASHBOARD */
 .dashboard {
   background:#FFFFFF;
 }
 .left-nav{
   height:100%;
   color:#282828;
   background:rgba(218,218,218,0.20);
   float:left;
   position:absolute;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
   -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
   -o-transform: translate(-280px,0); /** Opera **/
   -moz-transform: translate(-280px,0); /** Firefox **/
}
.left-nav.open {
  display:block;
  width:13rem;
  background: rgba(218,218,218,0.20);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    z-index: 100;
}
.hamburger {
  position:absolute;
  z-index: 1000;
  background:rgba(218,218,218,0.20);
  color:#6BE0B1;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 0px;
  border-radius: 4px;
  left: 10px;
  top: 10px;
}
 .left-nav {
   height: 100vh;
   width:13rem;
   color:#282828;
   background: rgba(218,218,218,0.20);
   position: fixed;
   top:5rem;
   left: 0;
 }
 .left-nav .items {
   padding:10% 10%;
 }
 .left-nav .items p {
   font-weight: 600;
   font-size: 12px;
   color: #282828;
   line-height: 15px;
 }
 .left-nav .items ul {
   margin:0 0 0 1rem;
   padding:0;
 }
 .left-nav .items ul li {
   list-style-type: none;
   margin-bottom: 15px;
 }
 .left-nav .items ul li i {
   color:#282828;
   text-decoration: none;
   font-weight: 100;
   padding-right:5px;
 }
.left-nav .items ul li a{
  text-decoration: none;
  color:#282828;
}

 /* HORIZONTAL NAV */

 .horizontal-nav{
   width: 100vw;
   height:5rem;
   color:#6BE0B1;
   background:#F4F4F4;
   position: fixed;
   top: 0;
   left:0;
   z-index:1;
 }

 .logo-container{
   height:5rem;
   width:13rem;
   margin:10px 0 10px 150px;
 }

 .horizontal-nav .site-logo {
   height:40px;
   width:auto;
 }

 .content-item {
   background:#FFFFFF;
   box-shadow: 0 2px 4px 0 #AAAAAA;
   width: 90%;
   display: block;
   margin: 10px auto;
 }

 .content-container {
   position: relative;
   width:100%;
   margin-top:6rem;
   overflow:hidden;
   box-sizing:border-box;
 }

/* Iphone 6 and other smartphones */
 @media (min-width:375px) {

}


 /* Tablets */

 @media (min-width:768px) {
   .content-container {
     float:left;
     position: relative;
     width:65%;
     margin-top:6rem;
     overflow:hidden;
     box-sizing:border-box;
   }

   .content-item{
     margin-left:20px;
     margin-bottom:20px;
     margin-top:0px;
     margin-right:0px;
     width:45%;
     height:214px;
     display: inline-block;
   }

   .logo-container{
     width:13rem;
     height:5rem;
     margin:10px 0 10px 290px;
     box-sizing:border-box;
     float:left;
   }

   .collab-container{
     width:32%;
   }

   .horizontal-nav > ul{
     display:inline-block;
     margin-top:5px;
     float:right;
     margin-right:10px;
     height: 40px;
   }

   .horizontal-nav > ul > ul {
     margin: 0;
   }

   .horizontal-nav ul li {
     list-style-type: none;
     display:inline-block;
     margin-right:10px;
     line-height:5rem;
     vertical-align:top;
     display:inline-block;
   }

   .horizontal-nav ul li a {
     color:#6BE0B1;
     text-decoration: none;
     font-weight: 100;
   }

   .horizontal-nav ul li a i{
     font-size:25px;
   }

   .horizontal-nav .profile-img{
     height:40px;
     width:auto;
     margin-top:15px;
   }

   .horizontal-nav .line{
     margin-top:15px;
   }

   .menu li > ul > li {
     vertical-align: middle;
     line-height:30px;
   }

   .menu li > ul > li > a > i, .menu li > ul > li > a > img {
     margin-right: 0px;
     vertical-align: middle;
   }
 }

/* Laptops and Desktops */

@media (min-width:992px){
  .content-container {
    float:left;
    position: relative;
    width:73%;
    margin-top:6rem;
    overflow:hidden;
    box-sizing:border-box;
  }

  .content-item{
    margin-left:20px;
    margin-bottom:20px;
    margin-top:0px;
    margin-right:0px;
    width:30%;
    height:214px;
    display: inline-block;
  }

  .logo-container{
    width:13rem;
    height:5rem;
    margin:10px 0 10px 387px;
    box-sizing:border-box;
    float:left;
  }

  .collab-container{
    width:25%;
  }

  .horizontal-nav > ul{
    display:inline-block;
    margin-top:5px;
    float:right;
    margin-right:10px;
    height: 40px;
  }

  .horizontal-nav > ul > ul {
    margin: 0;
  }

  .horizontal-nav ul li {
    list-style-type: none;
    display:inline-block;
    margin-right:10px;
    line-height:5rem;
    vertical-align:top;
    display:inline-block;
  }

  .horizontal-nav ul li a {
    color:#6BE0B1;
    text-decoration: none;
    font-weight: 100;
  }

  .horizontal-nav ul li a i{
    font-size:25px;
  }

  .horizontal-nav .profile-img{
    height:40px;
    width:auto;
    margin-top:15px;
  }

  .horizontal-nav .line{
    margin-top:15px;
  }

  .menu li > ul > li {
    vertical-align: middle;
    line-height:30px;
  }

  .menu li > ul > li > a > i, .menu li > ul > li > a > img {
    margin-right: 0px;
    vertical-align: middle;
  }
}

/* Larger laptop screens */
@media (min-width:1220px){
  .content-container {
    float:left;
    position: relative;
    width:62%;
    margin-top:6rem;
    margin-left:13em;
    overflow:hidden;
    box-sizing:border-box;
  }

  .content-item{
    margin-left:20px;
    margin-bottom:20px;
    margin-top:0px;
    margin-right:0px;
    width:30%;
    height:214px;
    display: inline-block;
  }

  .logo-container{
    width:13rem;
    height:5rem;
    margin:0;
    box-sizing:border-box;
    float:left;
    background:#F0F0F0;
  }

  .collab-container{
    width:20%;
  }

  .horizontal-nav > ul{
    display:inline-block;
    margin-top:5px;
    float:right;
    margin-right:10px;
    height: 40px;
  }

  .horizontal-nav > ul > ul {
    margin: 0;
  }

  .horizontal-nav ul li {
    list-style-type: none;
    display:inline-block;
    margin-right:15px;
    line-height:5rem;
    vertical-align:top;
    display:inline-block;
  }

  .horizontal-nav ul li a {
    color:#6BE0B1;
    text-decoration: none;
    font-weight: 100;
  }

  .horizontal-nav ul li a i{
    font-size:35px;
  }

  .horizontal-nav .profile-img{
    height:50px;
    width:auto;
    margin-top:10px;
  }

  .horizontal-nav .line{
    margin-top:15px;
  }

  .menu li > ul > li {
    vertical-align: middle;
    line-height:30px;
  }

  .menu li > ul > li > a > i, .menu li > ul > li > a > img {
    margin-right: 0px;
    vertical-align: middle;
  }
  .hamburger{
    display:none;
  }
}

/* COLLAB BOX */
.collab-container{
  margin-top:6rem;
  margin-right:10px;
  height:885px;
  float:right;
}

.collab-box{
  height:100px;
  width:98%;
  background:#F4F4F4;
  margin-bottom: 10px;
}

.collab-box img, .collab-box a{
  display:inline;
  margin-left:20px;
  margin-top:22px;
  vertical-align:top;
  display:inline-block;
}

.comment-box{
  height:775px;
  width:98%;
  background:#FAFAFA;
  padding-top: 5px;
}

.comment-box ul li{
  display:inline;
  margin-right:20px;
}

.comment-box ul li.active {
  padding-bottom: 5px;
  border-bottom: 3px solid #FFB35D;
}

.collab-box a i{
  color:#F4F4F4;
}

.comment-box p{
  display:inline;
  color:#FFB35D;
  font-size:14px;
}

.comment-box img, .comment-box p{
  display:inline;
  vertical-align:top;
  line-height:95px;
}

.comment-box img{
  margin-left:30px;
  margin-top:20px
}

.comment-box p{
  display:inline;
  vertical-align:top;
  margin-left:10px;
  margin-top:20px;
}

/* BUTTON */
.w3-circle.large{
  border-radius:100%;
  background:#FB8978;
  width:140px;
  height:140px;
  text-align: center;
  vertical-align:middle;
  position:absolute;
  top:4%;
  left:8.5%
}

.w3-circle.large i{
  line-height:100px;
  font-size:64px;
  color:white;
  margin-top:22px;
  margin-left:4px;
}

.w3-circle.small{
  border-radius:100%;
  width:50px;
  height:50px;
  background:#FFB35D;
  text-align:center;
  vertical-align:middle;
  position:absolute;
}

.w3-circle.small i{
  line-height:50px;
  margin-top:2px;
  font-size:32px;
  color:white;
}

.profile-img {
  border-radius:100%;
  overflow:hidden;
  width:50px;
  height:auto;
}

/* ITEM BOX */
.item-box{
  height:214px;
  overflow:hidden;
  }

.content-item p, .content-item h5, .content-item ul li{
  padding: 5% 5% 5%;
}

.item-box > img{
  overflow:hidden;
  height:auto;
  width:105%;
}

.item-box > h5{
  margin: 20px 5px 5px;
  line-height:0px;
}

.item-box > p{
  margin: 5px 5px 5px;
}

.item-box > ul{
  line-height:10px;
}

.item-box p span{
  color:#0F00FD;
}

/* ACTIVE SELECTOR */
.left-nav .items ul li a.active, .left-nav .items ul li a.active i{
  color:#FB8978;
}
